/* GLOBAL STYLES */

/* Styles for Sticky (But Not Fixed) Footer */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* End Styles for Sticky Footer */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  /* Need for footer: */
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

/* Need for footer (class defined in App.js) */
.app-container {
  margin: 0 auto;
  padding-top: 32px;
}

main {
  margin: 16px;
}

/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 981px) and (max-width: 1200px) {
  /* body {
    background-color: red;
  } */
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  /* body {
    background-color: yellow;
  } */
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  /* body {
    background-color: steelblue;
  } */
}

@media screen and (min-width: 551px) and (max-width: 640px) {
  /* body {
    background-color: brown;
  } */
}

@media screen and (min-width: 471px) and (max-width: 550px) {
  /* body {
    background-color: salmon;
  } */
}

@media screen and (min-width: 431px) and (max-width: 470px) {
  /* body {
    background-color: black;
  } */
}

@media screen and (min-width: 401px) and (max-width: 430px) {
  /* body {
    background-color: burlywood;
  } */
}

@media screen and (min-width: 100px) and (max-width: 400px) {
  /* body {
    background-color: pink;
  } */
}
