/* GLOBAL STYLES */

/* Styles for Sticky (But Not Fixed) Footer */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* End Styles for Sticky Footer */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  /* Need for footer: */
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

/* Need for footer (class defined in App.js) */
.app-container {
  margin: 0 auto;
  padding-top: 32px;
}

main {
  margin: 16px;
}
